
* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
}

.list {
    padding: 20px;
    margin: 0;
    list-style: none;
}

.list-item:not(:last-child) {
    margin-bottom: 5px;
}

.list-link {
    display: inline-flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    font-size: 32px;
}

.list-link::before,
.list-link::after {
    content: "";
    width: 24px;
    height: 24px;
    background-size: contain;
}

/* Adds a fire icon in front of the link text */
.list-link::before {
    margin-right: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/599/599502.png");
}

/* Adds and hides arrow icon after the link text */
.list-link::after {
    display: none;
    margin-left: 16px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/507/507257.png")
}

.list-link:hover {
    color: #2196f3;
}

/* Show arrow icon on hover */
.list-link:hover::after {
    display: block;